*{
  margin: 0px;
  padding: 0px;
}

.MainDiv {
  background-color:yellow;
  width: 100%;
  padding: 12px 0px;
  text-align: center;
}

.MainDiv p {
   font-size: 18px;
}

.StyeCheck {
  margin: auto;
}